body {
    margin: 0;
    font-size: 12px;
    line-height: 1.231;
    background: url(../images/body-bg.jpg) repeat-x top left;
}

body, button, input, select, textarea {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #58595b;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #ccc;
}

a:focus {
    outline: 0;
}

a:hover, a:active {
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle
}

form {
    margin: 0;
}

label {
    cursor: pointer;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button, input {
    line-height: normal;
    *overflow: visible;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    display: block;
    clear: both;
}

#container {
    height: 100%;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto;
    width: 960px;
}

header {
    position: relative;
}

header #login {
    display: block;
    height: 50px;
    width: 490px;
    padding: 4px 0 0 30px;
    background: #363435 url(../images/bg-login.gif) repeat-x top left;
    font-weight: 700;
    color: #fff;
    font-size: 13px;
}

header #login input {
    font-size: 12px;
    padding: 3px 5px;
    margin: 0 0 0 7px;
    color: #a7a9ac;
    border: 0;
    height: 17px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

header #login input #username {
    width: 175px;
}

header #login .login-inputs {
    font-family: Consolas, Monaco, Lucida Console, monospace !important;
    font-size: 12px !important;
    font-weight: bold !important;
    color: #000000 !important;
}

header #login input[type="submit"] {
    width: 48px;
    color: #fff;
    font-style: normal;
    height: 23px;
    background: #c7182a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c7182a), to(#8c0916));
    background-image: -webkit-linear-gradient(top, #c7182a, #8c0916);
    background-image: -moz-linear-gradient(top, #c7182a, #8c0916);
    background-image: -o-linear-gradient(top, #c7182a, #8c0916);
    background-image: -ms-linear-gradient(top, #c7182a, #8c0916);
    background-image: linear-gradient(top, #c7182a, #8c0916);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

header #login input[type="submit"]:hover {
    background: #8c0916;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8c0916), to(#c7182a));
    background-image: -webkit-linear-gradient(top, #8c0916, #c7182a);
    background-image: -moz-linear-gradient(top, #8c0916, #c7182a);
    background-image: -o-linear-gradient(top, #8c0916, #c7182a);
    background-image: -ms-linear-gradient(top, #8c0916, #c7182a);
    background-image: linear-gradient(top, #8c0916, #c7182a);
}

header #login .error-text {
    text-align: center;
    font-weight: 200;
    font-size: 14px;
    margin: 5px 0 0 0;
    color: #e27b87;
    display: block;
}

header .current-user {

}

header .current-user h3 {
    color: #ccc;
}

header .current-user a {
    color: #999;
    float: right;
    margin-right: 10px;
}

header .current-user a:hover {
    color: #fff;
}

header #logo {
    margin: 25px 0 10px 0;
    padding: 0;
    height: 81px;
    width: 285px;
    display: block;
    float: left;
}

header #logo a {
    margin: 0 auto;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    height: 81px;
    width: 285px;
    background: url(../images/logo.png) no-repeat top center;
}

nav {
    display: block;
    padding: 20px 0;
    margin: 65px 0 0 0;
    width: auto;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    display: inline;
}

nav ul li {
    float: left;
    padding: 0 0 0 10px;
}

nav ul li a{
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    display: block;
    background: #363534;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#363534), to(#1c1b1b));
    background-image: -webkit-linear-gradient(top, #363534, #1c1b1b);
    background-image: -moz-linear-gradient(top, #363534, #1c1b1b);
    background-image: -o-linear-gradient(top, #363534, #1c1b1b);
    background-image: -ms-linear-gradient(top, #363534, #1c1b1b);
    background-image: linear-gradient(top, #363534, #1c1b1b);
    padding: 12px 15px 12px 15px;
    width: 120px;
    text-align: center;
    float: right;
    margin: 4px 0 0 10px;
    text-transform: uppercase;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px #ffffff;
    -moz-box-shadow: 0px 0px 10px 0px #ffffff;
    box-shadow: 0px 0px 10px 0px #ffffff;
}

nav ul li a:hover {
    background: #1c1b1b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1b1b), to(#363534));
    background-image: -webkit-linear-gradient(top, #1c1b1b, #363534);
    background-image: -moz-linear-gradient(top, #1c1b1b, #363534);
    background-image: -o-linear-gradient(top, #1c1b1b, #363534);
    background-image: -ms-linear-gradient(top, #1c1b1b, #363534);
    background-image: linear-gradient(top, #1c1b1b, #363534);
    -webkit-box-shadow: 0px 0px 10px 0px #888888;
    -moz-box-shadow: 0px 0px 10px 0px #888888;
    box-shadow: 0px 0px 10px 0px #888888;
}
nav ul li a:active {
    background: #1c1b1b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1b1b), to(#504f4d));
    background-image: -webkit-linear-gradient(top, #1c1b1b, #504f4d);
    background-image: -moz-linear-gradient(top, #1c1b1b, #504f4d);
    background-image: -o-linear-gradient(top, #1c1b1b, #504f4d);
    background-image: -ms-linear-gradient(top, #1c1b1b, #504f4d);
    background-image: linear-gradient(top, #1c1b1b, #504f4d);
}
#main {
    margin: 0 auto;
    width: 910px;
    min-height: 620px;
    height: 620px;
    height: auto !important;
    padding: 25px 25px 0 25px;
    font-size: 13px;
    margin-bottom: 30px;
    background: #fff url(../images/main-bg.png) no-repeat center 10px;
    -webkit-box-shadow: 2px 1px 7px 2px #eee;
    -moz-box-shadow: 2px 1px 7px 2px #eee;
    box-shadow: 2px 1px 7px 2px #eee;
}
#gmap_canvas img {
    max-width: none !important;
    background: none !important
}
#fancybox-content {
    border: solid 10px #970D1A !important;
}
.carImage{
    height: 167px;
    width: 257px;
    float: left;
    margin-left: 20px;
}
.carDetails{
    float: right;
    margin-right: 20px;
}
.sorting a {
    color: #58595b;
    margin-right: 10px;
    font-weight: bold;
}

.sorting a:hover {
    color: #8c0916;
}

#page-vehicles {
    margin: 0;
    padding: 0;
}

#page-vehicles aside {
    width: 145px;
    padding: 2px;
    margin: 30px 0 0 0;
    float: left;
    box-shadow: 0px 0px 15px #888888;
}

#page-vehicles aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#page-vehicles aside ul li {
    background: #be1627;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#be1627), to(#830714));
    background-image: -webkit-linear-gradient(top, #be1627, #830714);
    background-image: -moz-linear-gradient(top, #be1627, #830714);
    background-image: -o-linear-gradient(top, #be1627, #830714);
    background-image: -ms-linear-gradient(top, #be1627, #830714);
    background-image: linear-gradient(top, #be1627, #830714);
    border-bottom: 1px solid #b2676e;
}

#page-vehicles aside ul li a {
    color: #fff;
    display: block;
    padding: 7px 0 7px 15px;
    font-weight: 600;
    font-size: 13px;
}

#page-vehicles aside ul li.current {
    border-bottom: 0;
}

#page-vehicles aside ul li.current a, #page-vehicles aside ul li a:hover {
    background: url(../images/sprite.png) no-repeat -151px 9px;
}

#page-vehicles aside ul li ul {
    display: none;
}

#page-vehicles aside ul li.current ul {
    display: block !important;
}

#page-vehicles aside ul li li {
    padding: 0 8px;
    border-bottom: 0;
    background: #232020 !important;
}

#page-vehicles aside ul li li a {
    font-style: italic;
    font-size: 12px;
    background: none !important;
    padding-left: 25px;
    font-weight: 400;
}

#page-vehicles aside ul li.current li.current a, #page-vehicles aside ul li li a:hover {
    background: url(../images/sprite.png) no-repeat 12px 9px !important;
}

#page-vehicles aside ul li li:nth-child(even) a {
    border: 1px solid #fff;
    border-width: 1px 0;
}

#page-vehicles #content-vehicles {
    width: 690px;
    padding: 30px 20px 30px 30px;
    background: #fff;
    min-height: 530px;
    height: 530px;
    height: auto !important;
}

#page-vehicles #content-vehicles .product-item {
    padding: 5px;
    margin: 0 0 15px 0;
    border: solid 1px #abadb0;
    box-shadow: 0px 0px 15px #888888;
}

#page-vehicles #content-vehicles .product-item .picture-product {
    width: 257px;
    float: left;
    height: auto !important;
}

#page-vehicles #content-vehicles .product-item .picture-product img {
    width: 257px;
}

.product-item .product-info {
    height: 137px;
    padding: 15px 20px;
    width: 360px;
    font-size: 14px;
    position: relative;
    background: #be1627;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#be1627), to(#830714));
    background-image: -webkit-linear-gradient(top, #be1627, #830714);
    background-image: -moz-linear-gradient(top, #be1627, #830714);
    background-image: -o-linear-gradient(top, #be1627, #830714);
    background-image: -ms-linear-gradient(top, #be1627, #830714);
    background-image: linear-gradient(top, #be1627, #830714);
}

.product-item .product-info h3 {
    color: #fff;
    font-size: 16px;
    margin: 0 0 10px 0;
}

.product-item .product-info span {
    display: block;
    float: left;
    margin: 0 0 5px 10px;
    color: #fff;
    font-size: 14px;
}

.product-item .product-info span.title {
    text-transform: capitalize;
}

.product-item .product-info span.separate {
    padding: 0 5px;
}

.buttom-enquire {
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    display: block;
    background: #363534;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#363534), to(#1c1b1b));
    background-image: -webkit-linear-gradient(top, #363534, #1c1b1b);
    background-image: -moz-linear-gradient(top, #363534, #1c1b1b);
    background-image: -o-linear-gradient(top, #363534, #1c1b1b);
    background-image: -ms-linear-gradient(top, #363534, #1c1b1b);
    background-image: linear-gradient(top, #363534, #1c1b1b);
    padding: 5px 15px 4px 15px;
    width: 120px;
    text-align: center;
    float: right;
    margin: 5px 0 0 10px;
    text-transform: uppercase;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px #ffffff;
    -moz-box-shadow: 0px 0px 10px 0px #ffffff;
    box-shadow: 0px 0px 10px 0px #ffffff;
}

.buttom-enquire:hover {
    background: #1c1b1b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1b1b), to(#363534));
    background-image: -webkit-linear-gradient(top, #1c1b1b, #363534);
    background-image: -moz-linear-gradient(top, #1c1b1b, #363534);
    background-image: -o-linear-gradient(top, #1c1b1b, #363534);
    background-image: -ms-linear-gradient(top, #1c1b1b, #363534);
    background-image: linear-gradient(top, #1c1b1b, #363534);
    -webkit-box-shadow: 0px 0px 10px 0px #888888;
    -moz-box-shadow: 0px 0px 10px 0px #888888;
    box-shadow: 0px 0px 10px 0px #888888;
}

.buttom-enquire:active {
    background: #1c1b1b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1b1b), to(#504f4d));
    background-image: -webkit-linear-gradient(top, #1c1b1b, #504f4d);
    background-image: -moz-linear-gradient(top, #1c1b1b, #504f4d);
    background-image: -o-linear-gradient(top, #1c1b1b, #504f4d);
    background-image: -ms-linear-gradient(top, #1c1b1b, #504f4d);
    background-image: linear-gradient(top, #1c1b1b, #504f4d);
}

#footer {
    height: 129px;
    margin: 0 auto;
    padding: 20px 0 0 0;
    background: #be1627;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#be1627), to(#830714));
    background-image: -webkit-linear-gradient(top, #be1627, #830714);
    background-image: -moz-linear-gradient(top, #be1627, #830714);
    background-image: -o-linear-gradient(top, #be1627, #830714);
    background-image: -ms-linear-gradient(top, #be1627, #830714);
    background-image: linear-gradient(top, #be1627, #830714);
    border-top: 5px solid #830714;
}

#footer #article {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

#footer .fr span {
    color: #fff;
    display: block;
    font-size: 10px;
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    text-align: right;
}

#footer .fr span#copyright {
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 10px 0;
}